.cfc-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .cfc-container{
        display: flex;
    }
  }
  
@media screen and (max-width: 768px) {
    .cfc-container{
        display: block;
    }
}