.cfc-navigation-area{
    
    li{
        height: 40px;
        &:hover{
            background-color: rgb(200, 231, 252);   
        }
    }
}

@media screen and (max-width: 768px) {
    .cfc-navigation-area{
        li{
            float: left;
            height: 20px;
            font-size: 5pt;
        }
    }
}
