.cfc-section-title {
    border-bottom: 1px solid grey;
    h3{
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .cfc-section-title h3{
        height: 10px;
        font-size: 7pt;
    }
}