$primary-color: white;
$bg: rgb(17, 59, 197);
h1 {
  color: $primary-color;
  background-color: $bg;
}
ul{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.gnv > li{
  border: 1px solid rgb(40, 40, 240);
 }

@media screen and (max-width: 768px) {
  h1{
      height: 15px;
      font-size: 3pt;
  }
  .gnv > li{
    float: left;
   }
}